{% extends "emails/base.html" %}

{% block title %}Account Locked{% endblock %}

{% block content %}
<h1>Your account has been locked</h1>
<p>Dear {{ user.first_name }},</p>
<p>We have detected multiple unsuccessful login attempts to your account. As a security measure, your account has been temporarily locked.</p>
<p>If this was you, please wait for <b>{{ lockout_duration }}</b> minutes before trying to log in again. If you did not attempt to log in, 
     we recommend that you change your password immediately once you regain access to your account.</p>
<p>Please contact support for assistance.</p>
<p>Best regards,<br><strong>Your {{ site_name }} Team</strong></p>
{% endblock %}