services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: bank
    restart: unless-stopped
    tty: true
    volumes:
      - .:/app:rw
      - static_volume:/home/app/static
    ports:
      - 8000:8000
    networks:
      - app-network
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    container_name: bank-db
    restart: unless-stopped
    image: postgres:15
    ports:
      - "6432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    networks:
      - app-network
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_HOST=${DB_HOST}

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ./data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: "5000"
      MP_DATABASE: "/data/mailpit.db"
      MP_SMTP_AUTH_ACCEPT_ANY: "1"
      MP_SMTP_AUTH_ALLOW_INSECURE: "1"
    networks:
      - app-network

# Docker Networks
networks:
  app-network:
    driver: bridge
    
# Volumes
volumes:
  static_volume:
  pgdata: