services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: bank
    restart: unless-stopped
    tty: true
    volumes:
      - .:/app:rw
      - static_volume:/home/app/static
    ports:
      - 8000:8000
    networks:
      - app-network
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - mailpit
      - rabbitmq

  db:
    container_name: bank-db
    restart: unless-stopped
    image: postgres:15
    ports:
      - "6432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    networks:
      - app-network
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_HOST=${DB_HOST}

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ./data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: "5000"
      MP_DATABASE: "/data/mailpit.db"
      MP_SMTP_AUTH_ACCEPT_ANY: "1"
      MP_SMTP_AUTH_ALLOW_INSECURE: "1"
    networks:
      - app-network

  redis:
    image: "redis:alpine"
    container_name: bank-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: bank-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    networks:
      - app-network
  
  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bank-celery-worker
    restart: unless-stopped
    tty: true
    volumes:
      - .:/app:rw
      - static_volume:/home/app/static
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - rabbitmq
    networks:
      - app-network
    entrypoint: ["sh", "/home/app/celery-entrypoint.sh"]

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bank-flower
    restart: unless-stopped
    tty: true
    ports:
      - "5555:5555"
    volumes:
      - .:/app:rw
      - static_volume:/home/app/static
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - rabbitmq
    networks:
      - app-network
    entrypoint: ["sh", "-c", "celery -A base flower --address=0.0.0.0 --port=5555"]

# Docker Networks
networks:
  app-network:
    driver: bridge
    
# Volumes
volumes:
  static_volume:
  pgdata:
  rabbitmq_data:
  rabbitmq_logs:
  